<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1050450697322-9g80vbo26t4ei9b9q45d5dgutlbeqfv5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>NaverSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>net.macnpc.FestivalTogether</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>KakaoSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao70c211e038d89b552936ad96abbe4390</string>
			</array>
		</dict>
	</array>
	<key>FestivalServiceKey</key>
	<string>$(FestivalServiceKey)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KakaoAppKey</key>
	<string>$(KakaoAppKey)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>https://apis.data.go.kr/B551011/KorService1</key>
			<dict/>
		</dict>
	</dict>
	<key>NaverInstanceConsumerKey</key>
	<string>$(NaverInstanceConsumerKey)</string>
	<key>NaverInstanceConsumerSecret</key>
	<string>$(NaverInstanceConsumerSecret)</string>
	<key>NaverMapClientId</key>
	<string>$(NaverMapClientId)</string>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareRoundOTFB.otf</string>
		<string>NanumSquareRoundOTFEB.otf</string>
		<string>NanumSquareRoundOTFL.otf</string>
		<string>NanumSquareRoundOTFR.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
